<h1 class=" mt-3 pb-2"><%= @badge.name %></h1>
<div class="show">
  <div class="avatar-show-badge">
    <%= image_tag(@badge.picture_path) %>
  </div>
</div>
<progress class= "mt-3" id="file" max="<%= @badge.target %>" value="<%= @collection.counter %>"></progress>
<h6><%= @badge.description %></h6>
<% if @badge.target <= @collection.counter %>
<h6>Congratulation ! You achieved this badge</h6>
<% else %>
<h6>You can do it ! You are at <%= @collection.counter %> / <%= @badge.target %> </h6>
<% end %>
<p class="lien"><%= link_to "Back to collection", collections_path %></p>
