<h1 class=" mt-3 pb-2"><%= @badge.name %></h1>
<div class="show">
  <div class="avatar-show-badge">
    <%= image_tag(@badge.picture_path) %>
  </div>
</div>
<progress class= "mt-3 mb-3" id="file" max="<%= @badge.target %>" value="<%= @collection.counter %>"></progress>
<h6><%= @badge.description %>!</h6>

<% if @badge.target <= @collection.counter %>
  <h6 class="mt-3">Congratulation ! You achieved this badge</h6>
<% else %>
  <h6 class="mt-3">You can do it !</h6>
  <p class="mt-3"><%= @collection.counter %> / <%= @badge.target %></p>
<% end %>
<p class="lien mt-4"><%= link_to "Back to collection", collections_path %></p>
