<h1 class="mt-3 pb-2">Users List</h1>
  <%= form_tag profiles_path, method: :get do %>
  <div class="fields">
    <div class="search-input">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Write your friend nickname"
      %>
      <%= submit_tag "Search", class: "search-input btn-white" %>
    </div>
  </div>
  <% end %>

<div class="friendlist">
  <div class="row">
    <% @users_not_my_friend.each do |user| %>
      <div class="col-4">
        <div class="card-add-friend">
          <%= simple_form_for @friend do |f| %>
            <%= f.input :friend2_user, as: :hidden, input_html: {value: user.id} %>
            <%= f.submit "+", class: "add-btn", data: {confirm: "Are you sure?"} %>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
            {:width=>200, :crop=>"scale"}
            ], class: "avatar-friend-list" %>
            <% else %>
              <%= cl_image_tag "https://pbs.twimg.com/profile_images/1092451626781163523/0YzJMi-8_400x400.jpg", class: "avatar-bordered-xlarge dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          <% end %>
        </div>
        <div class="friend-name"><%= user.nickname %></div>
      </div>
    <% end %>
  </div>
</div>


