<h1>Recipes#show</h1>
<div class="recipe-url_photo"></div>
Photos : <%= image_tag @recipe.url_photo %>
<div class="recipe-title"></div>
Title : <%= @recipe.title %>
<div class="recipe-title"></div>
Description : <%= @recipe.description %>
<div class="recipe"></div>
Preparation time : <%= @recipe.preparation_time %>
<div class="recipe-title"></div>
Ingredients : <%= @recipe.ingredients %>