<div class="card-product-big">
  <div class="card-product-big-url_photo">
    <div>
      <%= image_tag @recipe.url_photo, class: "picture-recipe" %>
      <h3><%= @recipe.title %></h3>
    </div>
    <div>
      <div class="prep-time">
        <%= image_tag "clock.svg", class: "recipe-icons"%>
        <%= @recipe.preparation_time.gsub("mins","").gsub(" ", "") %> mins
      <%= image_tag "veggie-recipe.svg", class: "recipe-icons"%>
      Veggie
      </div>
    </div>
  </div>
  <div class="card-product-recipes-show">
    <h5>Description</h5>
    <div>
      <%= @recipe.introduction %>
    </div>
  </div>
  <div class="card-product-recipes-show">
    <h5>Ingredients</h5>
    <div>
      <ul>
        <% @recipe.ingredients.split("@,").each do |ingredient| %>
          <li><%= ingredient.gsub(", @", "") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card-product-recipes-show">
    <h5>Directions</h5>
    <div>
      <ul>
        <% @recipe.description.split("@,").each do |instruction| %>
          <li><%= instruction.gsub(", @", "") %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
