<div class="background-butterfly">
    <div class="container-home">
      <div class="title-hp">
        <div class="logo">
          <%= image_tag "logo.svg", alt: "logo-eat4good", class: "logo" %>
        </div>
        <h1>Track your food good habits <br>
        Feel proud of yourself<br>
        by protecting Earth</h1>
      </div>
      <div class="call-to-action">
        <h2><%= link_to "Sign up", new_user_registration_path, class: "btn-white" %></h2>
        <h2><%= link_to "Login", new_user_session_path, class: "btn-white" %></h2>
      </div>
      <div class="scroll">
        <i class="fas fa-angle-down"></i>
      </div>
  </div>
  <div class="container-home-info">
    <h3>Everyday with you</h3>
    <%= image_tag "eat4good.png", alt: "appview" %>
    <h5>Eat4Good app enable to input your meals and get your real impact on saving Earth ressources by changing step by step your habits</h5>
    <div class="home-details">
      <div class="app-detail">
        <%= image_tag "analyse-picto.svg", alt: "analyse" %>
        <h5>Each meal is registrer and give you a daily analysis</h5>
      </div>
      <div class="app-detail">
        <%= image_tag "badge-picto.svg", alt: "badge" %>
        <h5>You earn badges through growing up in veggie world</h5>
      </div>
      <div class="app-detail">
        <%= image_tag "friends-picto.svg", alt: "challenge" %>
        <h5>As motivation is always better together challenge your friends</h5>
      </div>
      <div class="app-detail">
        <%= image_tag "idea-picto.svg", alt: "recipe idea" %>
        <h5>No idea of veggie food: we propose you a selection to inspire you</h5>
      </div>
    </div>
  </div>
</div>

