<%= render 'shared/datenav' %>

<div class="container day">
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "breakfast.svg", alt: "sunrise", class: "avatar" %>
      <h2 class="title">Breakfast</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large">
        <%= image_tag "meal.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "milk.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "vegetarian.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "fasting.svg", alt: "sunrise" %>
      </div>
    </div>
  </div>
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "lunch.svg", alt: "sunplain", class: "avatar" %>
      <h2 class="title">Lunch</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large">
        <%= image_tag "meal.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "milk.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "vegetarian.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "fasting.svg", alt: "sunrise" %>
      </div>
    </div>
  </div>
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "dinner.svg", alt: "moon", class: "avatar" %>
      <h2 class="title">Dinner</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large">
        <%= image_tag "meal.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "milk.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "vegetarian.svg", alt: "sunrise" %>
      </div>
      <div class="avatar-bordered-large">
        <%= image_tag "fasting.svg", alt: "sunrise" %>
      </div>
    </div>
  </div>
</div>
