<%= render 'shared/datenav' %>

<div class="container day">
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "breakfast.svg", alt: "sunrise", class: "avatar" %>
      <h2>Breakfast</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large bveggie">
        <%= image_tag "vegetarian.svg", alt: "veggie" %>
      </div>
      <div class="avatar-bordered-large bmeat">
        <%= image_tag "meat.svg", alt: "meat" %>
      </div>
      <div class="avatar-bordered-large bmilk">
        <%= image_tag "milk.svg", alt: "dairy" %>
      </div>
      <div class="avatar-bordered-large bfish">
        <%= image_tag "fish.svg", alt: "fish" %>
      </div>
      <div class="avatar-bordered-large selected bfasting">
        <%= image_tag "fasting.svg", alt: "fasting"%>
      </div>
    </div>
  </div>
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "lunch.svg", alt: "sunplain", class: "avatar" %>
      <h2>Lunch</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large lveggie">
        <%= image_tag "vegetarian.svg", alt: "veggie" %>
      </div>
      <div class="avatar-bordered-large lmeat">
        <%= image_tag "meat.svg", alt: "meat" %>
      </div>
      <div class="avatar-bordered-large lmilk">
        <%= image_tag "milk.svg", alt: "dairy" %>
      </div>
      <div class="avatar-bordered-large lfish">
        <%= image_tag "fish.svg", alt: "fish" %>
      </div>
      <div class="avatar-bordered-large selected lfasting">
        <%= image_tag "fasting.svg", alt: "fasting"%>
      </div>
    </div>
  </div>
  <div class="cardfoodtype">
    <div class="title">
      <%= image_tag "dinner.svg", alt: "moon", class: "avatar" %>
      <h2>Dinner</h2>
    </div>
    <div class="choices">
      <div class="avatar-bordered-large dveggie">
        <%= image_tag "vegetarian.svg", alt: "veggie" %>
      </div>
      <div class="avatar-bordered-large dmeat">
        <%= image_tag "meat.svg", alt: "meat" %>
      </div>
      <div class="avatar-bordered-large dmilk">
        <%= image_tag "milk.svg", alt: "dairy" %>
      </div>
      <div class="avatar-bordered-large dfish">
        <%= image_tag "fish.svg", alt: "fish" %>
      </div>
      <div class="avatar-bordered-large selected dfasting">
        <%= image_tag "fasting.svg", alt: "fasting"%>
      </div>
    </div>
  </div>
</div>
