<%= render 'shared/datenav' %>
  <div class="card-meals">
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.breakfast.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.breakfast.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "breakfast.svg", alt: "sunrise" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.lunch.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.lunch.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "lunch.svg", alt: "sun" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.dinner.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.dinner.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "dinner.svg", alt: "moon" %>
      </div>
    </div>
  </div>
<div class="day">
  <div class="week-analysis">
    <div class="follow-icon">
      <% if @week_status  == 0 %>
        <p>Let's start!</p>
      <% elsif @week_status > 0 && @week_status < 100 %>
        <p>Nice! Go on!</p>
      <% elsif @week_status == 100 %>
        <p>Congrats!!</p>
      <% else %>
        <p>Near to stars!</p>
      <% end %>
      <div class="leaf">
        <div class="leaf-fill" data-obj='<%= @week_status %>'>
          <%= image_tag "leaf0.svg", alt: "leaf-fill" %>
        </div>
        <div class="leaf-empty">
          <%= image_tag "leaf100.svg", alt: "leaf-empty" %>
        </div>
      </div>
      <p> <%= @veggie_this_week %> / <%= @obj_veggie %> veggie meals</p>
    </div>
  </div>
  <div class="indicators">
    <div class="co2">
    <div class="progress" data-percentage='<%= @eco_co2_day %>'>
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
        <div class="progress-value">
            <div>
             <%= image_tag "co2.svg", alt: "co2 indicator" %>
            </div>
          </div>
        </div>
      <p>- <%= @eco_co2_day %> %</p>
    </div>

    <div class="m2">
    <div class="progress" data-percentage='<%= @eco_m2_day_percentage %>'>
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
        <div class="progress-value">
            <div>
             <%= image_tag "tree.svg", alt: "m2 indicator" %>
            </div>
          </div>
        </div>
      <p>- <%= @eco_m2_day %> m2</p>
    </div>

    <div class="health avatar-bordered-xlarge">
      <%= image_tag "health.svg", alt: "health indicator" %>
    </div>
  </div>
</div>


