<%= render 'shared/datenav' %>
  <div class="card-meals">
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.breakfast.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.breakfast.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "breakfast.svg", alt: "sunrise" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.lunch.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.lunch.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "lunch.svg", alt: "sun" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.dinner.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.dinner.foodtype.name == "Dairy"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Meat"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "Veggie"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "dinner.svg", alt: "moon" %>
      </div>
    </div>
  </div>
<div class="day">
  <div class="week-analysis">
    <div class="follow-icon">
      <p>Wow you did it!</p>
      <div class="leaf">
        <div class="leaf-fill" data-obj='<%= @week_status %>'>
          <%= image_tag "leaf0.svg", alt: "leaf-fill" %>
        </div>
        <div class="leaf-empty">
          <%= image_tag "leaf100.svg", alt: "leaf-empty" %>
        </div>
      </div>
      <p> <%= @veggie_this_week %> / <%= @obj_veggie %> veggie meals</p>
    </div>
  </div>
</div>


