<%= render 'shared/datenav' %>
  <div class="card-meals">
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.breakfast.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.breakfast.foodtype.name == "milk"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "meal"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.breakfast.foodtype.name == "vegetarian"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "breakfast.svg", alt: "sunrise" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.lunch.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.lunch.foodtype.name == "milk"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "meal"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.lunch.foodtype.name == "vegetarian"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "lunch.svg", alt: "sun" %>
      </div>
    </div>
    <div class="meal">
      <div class="avatar-bordered-xlarge">
        <% if @day.dinner.foodtype.name == "No meal" %>
          <%= link_to image_tag("fasting.svg"), edit_day_path(@day) %>
        <% else %>
          <% if @day.dinner.foodtype.name == "milk"%>
            <%= link_to image_tag("milk.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "meal"%>
            <%= link_to image_tag("meat.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "fish"%>
            <%= link_to image_tag("fish.svg"), edit_day_path(@day) %>
          <% elsif @day.dinner.foodtype.name == "vegetarian"%>
            <%= link_to image_tag("vegetarian.svg"), edit_day_path(@day) %>
          <% end %>
        <% end %>
      </div>
      <div class="avatar-bordered-xsmall">
        <%= image_tag "dinner.svg", alt: "moon" %>
      </div>
    </div>
  </div>
<div class="container day">
</div>
