<div class="card-meals">
  <div class="avatar-large">
    <% if @day.breakfast == nil %>
      <%= link_to image_tag "breakfast.svg", edit_day_path(@day) %>
      <p>breakfast</p>
    <% else %>
      <% if @day.breakfast.foodtype.name == "milk"%>
        <%= link_to image_tag "milk.svg" , edit_day_path(@day) %>
      <% elsif @day.breakfast.foodtype.name == "meal"%>
        <%= link_to image_tag "meal.svg" , edit_day_path(@day) %>
      <% elsif @day.breakfast.foodtype.name == "fish"%>
        <%= link_to image_tag "fish.svg" , edit_day_path(@day) %>
      <% elsif @day.breakfast.foodtype.name == "vegetarian"%>
        <%= link_to image_tag "vegetarian.svg" , edit_day_path(@day) %>
      <% end %>
      <p>breakfast</p>
    <% end %>
  </div>
  <div class="avatar-large">
    <% if @day.lunch == nil %>
      <%= link_to image_tag "lunch.svg", edit_day_path(@day) %>
      <p>lunch</p>
    <% else %>
      <% if @day.lunch.foodtype.name == "milk"%>
        <%= link_to image_tag "milk.svg" , edit_day_path(@day) %>
      <% elsif @day.lunch.foodtype.name == "meal"%>
        <%= link_to image_tag "meal.svg" , edit_day_path(@day) %>
      <% elsif @day.lunch.foodtype.name == "fish"%>
        <%= link_to image_tag "fish.svg" , edit_day_path(@day) %>
      <% elsif @day.lunch.foodtype.name == "vegetarian"%>
        <%= link_to image_tag "vegetarian.svg" , edit_day_path(@day) %>
      <% end %>
      <p>lunch</p>
    <% end %>
  </div>
  <div class="avatar-large">
    <% if @day.dinner == nil %>
      <%= link_to image_tag "dinner.svg", edit_day_path(@day) %>
      <p>dinner</p>
    <% else %>
      <% if @day.dinner.foodtype.name == "milk"%>
        <%= link_to image_tag "milk.svg" , edit_day_path(@day) %>
      <% elsif @day.dinner.foodtype.name == "meal"%>
        <%= link_to image_tag "meal.svg" , edit_day_path(@day) %>
      <% elsif @day.dinner.foodtype.name == "fish"%>
        <%= link_to image_tag "fish.svg" , edit_day_path(@day) %>
      <% elsif @day.dinner.foodtype.name == "vegetarian"%>
        <%= link_to image_tag "vegetarian.svg" , edit_day_path(@day) %>
      <% end %>
      <p>dinner</p>
    <% end %>
  </div>
</div>
