<div class="card-meals">
  <div class="avatar-large">
    <% if @day.breakfast == nil %>
      <%= link_to image_tag "breakfast.svg", edit_day_path(@day) %>
      <p>breakfast</p>
    <% else %>
      <%= link_to @day.breakfast.image, edit_day_path(@day) %>
      <p>breakfast</p>
    <% end %>
  </div>
  <div class="avatar-large">
    <% if @day.lunch == nil %>
      <%= link_to image_tag "lunch.svg", edit_day_path(@day) %>
      <p>lunch</p>
    <% else %>
      <%= link_to @day.lunch.image, edit_day_path(@day) %>
      <p>lunch</p>
    <% end %>
  </div>
  <div class="avatar-large">
    <% if @day.dinner == nil %>
      <%= link_to image_tag "dinner.svg", edit_day_path(@day) %>
      <p>dinner</p>
    <% else %>
      <%= link_to @day.dinner.image, edit_day_path(@day) %>
      <p>dinner</p>
    <% end %>
  </div>
</div>

<!-- Essai a coller dans home pour voir le design ! A supprimer quand ca marche au dessus -->
<div class="card-meals">
        <div class="avatar-meals">
          <%= image_tag "breakfast.svg"%>
          <p>breakfast</p>
        </div>
        <div class="avatar-meals">
          <%= image_tag "lunch.svg" %>
          <p>lunch</p>
        </div>
        <div class="avatar-meals">
          <%= image_tag "dinner.svg" %>
          <p>dinner</p>
        </div>
      </div>
