<!DOCTYPE html>
<html>
  <head>
    <title>EAT4GOOD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' unless params[:action] == "home" %>
    <%= render 'shared/quotebar' unless params[:action] == "home" %>
    <%= render 'shared/flashes' %>
    <div class="container-void-footer">
      <%= yield %>
    </div>
    <%= render 'shared/navbarbottom' unless params[:action] == "home" %>
  </body>
</html>
